.page-header {
    position: relative;

    border-bottom: 1px solid $border-color;
    font-weight: 500;
    letter-spacing: 0.02em;
    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.14;
    }

    &__container {
        height: 60px;
        display: flex;
        align-items: center;
        @media screen and (min-width: 768px) {
            height: 80px;
        }
    }
}

.logo {
    display: inline-block;
    width: 145px;
    height: 28px;
    margin-right: auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: inherit;
    @media screen and (min-width: 768px) {
        margin-right: 88px;
    }
    @media screen and (min-width: 1600px) {
        margin-right: 93px;
        font-size: 26px;
        line-height: 1.19;
    }

    &__colorize {
        color: $hover-color;
    }
}
.nav-panel {
    @media screen and (min-width: 768px) {
        margin-right: auto;
    }
}
.nav-list {
    margin: 0;

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        margin-right: auto;
    }
    @media screen and (max-width: 767px) {
        margin-bottom: 306px;
    }

    &__item:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 32px;
        }
        @media screen and (min-width: 768px) {
            margin-right: 50px;
        }
    
    }
}
.nav-list__links {
    
    text-decoration: none;
    color: inherit;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    @media screen and (min-width: 768px) {
        padding-top: 32px;
        padding-bottom: 32px;
        font-size: 14px;
        line-height: 1.14;
    }

    &:hover,
    &:focus {
        color: $hover-color;
    }
}
.mobile-contacts {
    @media screen and (min-width: 768px) {
        display: none;
    }
    margin: 0;
    margin-bottom: 64px;
    
    &__item:not(:last-child){
        margin-bottom: 32px;
    }

    &__tel {
        text-decoration: none;
        font-size: 34px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: $hover-color;
    }
    &__mail {
        text-decoration: none;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: $secondary-text-color;
    }
}
.mobile-networks {
    margin: 0;
    display: flex;
    @media screen and (max-width: 479px) {
        flex-direction: column;
        &__item:not(:last-child){
            margin-bottom: 10px;
        }
    }
    @media screen and (min-width: 768px) {
            display: none;
        }

    @media screen and (min-width: 480px) {
        &__item:not(:first-child) {
            padding-left: 10px;
        }
    
        &__item:not(:last-child) {
            padding-right: 10px;
            border-right: 1px solid rgba(33, 33, 33, 0.2);
        }
    }

    &__links {
        display: block;
        text-decoration: none;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: $hover-color;
    }

}
.header-contacts {
    margin: 0;
    @media screen and (min-width: 1600px) {
        display: flex;
        align-items: center;
        &__item:not(:last-child) {
            margin-right: 50px;
        }
    }
    @media screen and (max-width: 1599px) {
        &__item:not(:last-child) {
            margin-bottom: 10px;
        }
    }
    @media screen and (max-width: 767px) {
        display: none;
    }
}
.header-contacts__links {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $secondary-text-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: 1600px) {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    &:hover,
    &:focus {
        color: $hover-color;
    }
}
.header-contacts__text {
    margin: 0;
    @media screen and (max-width: 1599px) {
        margin-left: 8px;
    }
    @media screen and (min-width: 1600px) {
        margin-left: 10px;
    }
}
.menu-button {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    @media screen and (min-width: 768px) {
        display: none;
    }

    &:hover,
    &:focus {
        color: $hover-color;
    }

    &--close {
        position: absolute;
        top: 10px;
        right: 15px;
    }
}
.menu-container {
    background-color: $third-text-color;
    
    @media screen and (max-width: 767px) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: none;
        padding-top: 48px;
        padding-bottom: 48px;
        padding-left: 40px;
    }
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        width: 617px;
    }
    @media screen and (min-width: 1600px) {
        width: 1049px;
    }

    &.is-open {
        display: block;
    }
}