.page-header {
    border-bottom: 1px solid $border-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    &__container {
        height: 60px;
        display: flex;
        align-items: center;
        @media screen and (min-width: 768px) {
            height: 80px;
        }
    }
}

.logo {
    display: inline-block;
    width: 145px;
    height: 31px;
    margin-right: auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: inherit;
    @media screen and (min-width: 768px) {
        margin-right: 88px;
    }
    @media screen and (min-width: 1600px) {
        margin-right: 93px;
        font-size: 26px;
        line-height: 1.19;
    }

    &__colorize {
        color: $hover-color;
    }
}
.navigation-container {
    @media screen and (max-width: 767px) {
        display: none;
    }
}
.nav-panel {
    // margin-right: auto;
}
.nav-list {
    // display: flex;
    // align-items: center;

    // &__item:not(:last-child) {
    // margin-right: 50px;
    // }
}
.nav-list__links {
    // padding-top: 32px;
    // padding-bottom: 32px;
    // text-decoration: none;
    // color: inherit;
    // transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    // &:hover,
    // &:focus {
    //     color: $hover-color;
    // }
}
.header-contacts {
    // display: flex;
    // align-items: center;

    // &__item:not(:last-child) {
    //     margin-right: 50px;
    // }
}
.header-contacts__links {
    // display: flex;
    // align-items: center;
    // padding-top: 32px;
    // padding-bottom: 32px;
    // text-decoration: none;
    // color: $secondary-text-color;
    // transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    // &:hover,
    // &:focus {
    //     color: $hover-color;
    // }
}
.header-contacts__text {
    // margin: 0;
    // margin-left: 10px;
}
.menu-button {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    & .close-menu {
        display: none;
    }
    &.is-open .close-menu {
        display: block;
    }
    &.is-open .open-menu {
        display: none;
    }
}