.qualities {
    display: flex;
    justify-content: center;

    &__item:not(:last-child) {
        margin-right: 30px;
    }
}

.qualities__icon {
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: $third-color;
}

.qualities__header {
    margin: 0;
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.qualities__text {
    width: 270px;
    height: 72px;
    margin: 0;
    
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
}