$main-color: #F5F5F5;
$second-color: #2F303A;
$third-color: #F5F4FA;
$main-text-color: #212121;
$secondary-text-color: #757575;
$third-text-color: #FFFFFF;
$hover-color: #2196F3;
$dark-hover: #188CE8;
$border-color: #ECECEC;
$cards-border: #EEEEEE;
$links-color: #AFB1B8;